aiohttp==3.12.15
alembic==1.18.4
asyncpg==0.31.0
bcrypt==5.0.0
fastapi==0.118.0
httpx==0.28.1
itsdangerous>=2.0.0
langchain_google_genai==2.1.12
langchain_ollama==0.3.10
langchain_openai==0.3.34
openai>=2.11.0
pydantic-ai==1.63.0
pydantic-settings==2.13.1
PyJWT==2.11.0
python-dotenv>=1.0.1
PyYAML==6.0.3
sqlalchemy[asyncio]==2.0.47
uvicorn==0.37.0
